.no-scroll-bar::-webkit-scrollbar {
    height: 8px;
    display: none;
}

.no-scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

.no-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 12px;
}

.no-scroll-bar::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}

.no-scroll-bar::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}
